.navbar {
  width: 100%;
  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12.7rem;
  padding-right: 12.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__blue {
    background-color: $blue-color-1;
  }

  &__primary {
    background-color: $primary-color-1;
  }
}
