.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-size: 14px;
    color: $primary-color-1;
    font-weight: 700;
  }

  &__buttons {
    margin-top: 1.2rem;
  }
}
.cycle__box {
  position: relative;
  width: 6.6rem;
  height: 6.6rem;
  border: 2px solid $primary-color-1;
  border-radius: 50%;
}

.cycle__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid $white;
  border-radius: 50%;
}
