//colors
$primary-color-1: #3aaf9f; //nav color
$primary-color-2: #32dac4;

$blue-color-1: #4267b2; //facebook color

$black-1: #b7b7b7; // text 1
$black-2: #828489; // text 2
$black-3: #5b5b5b; // text 3
$black-4: #333333; // text 4

$gray-1: #f4f5f6; // background
$gray-2: #dcdee1; //borders
$gray-3: #fefefe; // boxes
$gray-4: #e8eaed; // buttons

$white: #fff;

//font
$font-family: "font-family: 'Montserrat', sans-serif";

$font-size-1: 5rem;
$font-size-2: 4rem;
$font-size-3: 3rem;
$font-size-4: 2.5rem;
$font-size-5: 2rem;
$font-size-6: 1.6rem;
$font-size-7: 1rem;

$font-list: 1.3rem;

//margin and padding

$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 5rem;
$space-6: 6rem;
$space-7: 7rem;
$space-8: 8rem;
$space-9: 9rem;
$space-10: 10rem;
// borders

$border-1: "";
