<br />
<br /><br /><br /><br /><br /><br /><br /><br />
<div style="margin-left:20px">
  <form [formGroup]="formGroup" (submit)="onsubmit()">
    <input
      type="text"
      class="form__control mr-1"
      formControlName="mainField_1"
    />
    <input
      type="text"
      class="form__control mr-1"
      formControlName="imageField_1"
    />
    <input
      type="text"
      class="form__control mr-1"
      formControlName="justificationField_1"
    />

    <input
      type="text"
      class="form__control mr-1"
      formControlName="mainField_2"
    />
    <input
      type="text"
      class="form__control mr-1"
      formControlName="imageField_2"
    />
    <input
      type="text"
      class="form__control mr-1"
      formControlName="justificationField_2"
    />

    <input type="submit" class="btn btn-primary" />
  </form>
</div>
