<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
  </head>
  <body class="signin">
    <!--cycle code-->
    <div class="signin__cycle--1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="526px"
        height="526px"
      >
        <path
          fill-rule="evenodd"
          fill="rgb(67, 184, 162)"
          d="M263.000,0.000 C408.251,0.000 526.000,117.749 526.000,263.000 C526.000,408.251 408.251,526.000 263.000,526.000 C117.749,526.000 -0.000,408.251 -0.000,263.000 C-0.000,117.749 117.749,0.000 263.000,0.000 Z"
        />
      </svg>
    </div>
    <div class="signin__cycle--2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="526px"
        height="526px"
      >
        <path
          fill-rule="evenodd"
          fill="rgb(67, 184, 162)"
          d="M263.000,0.000 C408.251,0.000 526.000,117.749 526.000,263.000 C526.000,408.251 408.251,526.000 263.000,526.000 C117.749,526.000 -0.000,408.251 -0.000,263.000 C-0.000,117.749 117.749,0.000 263.000,0.000 Z"
        />
      </svg>
    </div>
    <!--cycle code-->
    <div class="box">
      <div class="box__left">
        <button class="btn btn__secondary" routerLink="/signup">
          <span class="btn__text"> sign up </span>
        </button>
      </div>

      <div class="box__right text-center">
        <div class="heading-1 mt-3 mb-2 align-self-center">sign in</div>

        <div class="heading-3  mb-1 align-self-center">
          welcome to our website
        </div>

        <div class="heading-3  mb-3 align-self-center">
          signin to see what your friends have posted
        </div>
        <form class="form" [formGroup]="signInForm" (submit)="onSubmit()">
          <div class="form__group mb-2">
            <input
              placeholder="Email"
              type="email"
              class="form__control form__control--2 mb-1"
              name="email"
              formControlName="email"
            />

            <div class="flex justify-content-center flex-col">
              <span
                *ngIf="
                  signInForm.get('email').errors?.required &&
                  signInForm.get('email').touched
                "
                class="heading-2 warning"
              >
                email is required
              </span>

              <span
                *ngIf="
                  signInForm.get('email').errors?.email &&
                  signInForm.get('email').touched
                "
                class="heading-2 warning"
              >
                invalid Email
              </span>
            </div>
          </div>
          <div class="form__group">
            <input
              placeholder="Password"
              type="password"
              class="form__control form__control--2 mb-1"
              name="password"
              formControlName="password"
            />
            <div class="flex justify-content-center flex-col">
              <span
                *ngIf="
                  signInForm.get('password').errors?.required &&
                  signInForm.get('password').touched
                "
                class="heading-2 warning"
              >
                password is required
              </span>

              <span
                *ngIf="
                  signInForm.get('password').errors?.pattern &&
                  signInForm.get('password').touched
                "
                class="heading-2 warning"
              >
                it must have at least 8 characters , one letter & one number
              </span>
            </div>
          </div>
          <div class="mb-2">
            <a href="">
              <span class="heading-2"> forgot your password </span>
            </a>
          </div>
          <button
            type="submit"
            class="btn btn__primary mb-2"
            [disabled]="!signInForm.valid"
          >
            <span class="btn__text"> sign in </span>
          </button>
        </form>
        <span
          *ngIf="signedIn; else fail"
          [ngClass]="ClassStyle"
          class="heading-2 "
        >
          {{ message }}
        </span>

        <ng-template #fail>
          <span *ngIf="!signedIn" [ngClass]="ClassStyle" class="heading-2">
            {{ message }}
          </span>
        </ng-template>
      </div>
    </div>
  </body>
</html>
